*{box-sizing: border-box;}
#page-3  {
    font-size: 3.2rem;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.page {
    display: flex;
    max-width: 100%;
    height: 200px;
    position: absolute
}



.counter {
    font-family: "Press Start 2P";
    color: rgb(217, 146, 58);
}

.tip {
    font-family: "Press Start 2P";
    color: rgb(217, 146, 58);
}



@media all and (max-width: 1000px) {
    .used {
        display: none;
    }
}
